.display{
    grid-column: span 4;
    /* width: 100%; */
    background-color: black;
    color: blanchedalmond;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    font-size: 2.2em;
}